rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aturan untuk pengaturan Topik User
    match /users/{username} {
      allow read: if true;
      
      // Pisahkan create dan update agar mengecek isi data
      allow create, update: if request.resource.data.activeTopic is string 
                            && request.resource.data.activeTopic.size() <= 150;
                            
      // IZINKAN HAPUS (Delete) agar Admin bisa menghapus User
      allow delete: if true; 
    }

    // Aturan untuk Pesan Anonim (Inbox)
    match /messages/{messageId} {
      allow read: if true;
      
      // Mengizinkan pembuatan pesan baru (Validasi ketat anti-spam)
      allow create: if request.resource.data.to is string
                    && request.resource.data.text is string
                    && request.resource.data.text.size() > 0
                    && request.resource.data.text.size() <= 1000;
                    
      // IZINKAN HAPUS (Delete) agar fitur ganti topik & Admin bisa membersihkan Inbox
      allow delete: if true; 
      
      // Tetap larang pengeditan pesan (Update)
      allow update: if false; 
    }
  }
}
