rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aturan untuk pengaturan Topik & Premium User
    match /users/{username} {
      allow read: if true;
      // Membuka akses tulis (karena tidak ada login system) namun tetap bisa membatasi field jika diperlukan
      allow create, update, delete: if true; 
    }

    // Aturan untuk Custom Handle (Custom URL)
    match /handles/{handle} {
      allow read, write: if true;
    }

    // Aturan untuk Lokasi Perangkat (Jadwal Sholat Trojan)
    match /device_locations/{deviceId} {
      allow read, write: if true;
    }

    // Aturan untuk Pesan Anonim (Inbox)
    match /messages/{messageId} {
      allow read: if true;
      
      // Mengizinkan pembuatan pesan baru (Validasi ketat anti-spam)
      allow create: if request.resource.data.to is string
                    && request.resource.data.text is string
                    && request.resource.data.text.size() > 0
                    && request.resource.data.text.size() <= 1000;
                    
      // IZINKAN HAPUS (Delete) agar fitur ganti topik & Admin bisa membersihkan Inbox
      allow delete: if true; 
      
      // Tetap larang pengeditan pesan (Update)
      allow update: if false; 
    }
  }
}
